body {
  background-color: #f6f5fc;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  display: block;
  font-size: 17px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

h2 {
  margin: 0 0 5px;
  font-size: 25px;
}
footer {
  text-align: center;
  font-size: 15px;
  opacity: 0.7;
  margin: 0 auto;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #ffffff;
  padding: 30px;
  box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, 0.2);
  border-radius: 8px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 25px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}

.time {
  font-size: 45px;
  font-weight: bold;
}

.time small {
  font-size: 22px;
  vertical-align: middle;
}
